---
import Home from '../components/Home.astro';
import Navbar from '../components/Navbar.astro';
import Objetivo from '../components/Objetivo.astro';
import Estancia from '../components/Estancia.astro';
import Layout from '../layouts/Layout.astro';
import Habitaciones from 'src/components/Habitaciones.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<!-- <Navbar/>-->
<Layout>
	
	<main class="relative w-full ">
		<Navbar/>
		<Home/>	
		<Objetivo/>	
		<Estancia/>	
		<Habitaciones/> 

	</main>
	
</Layout>
