

<section class="relative translate-y-[200%] md:translate-y-[50%] lg:translate-y-[20%] w-full h-auto flex justify-center">

    <img src="./images/banner/renta_eventos1.jpg" alt="casa otoño" class="absolute top-0 left-0 w-full h-full object-cover z-0">

    <div class="absolute top-0 left-0 w-full h-full bg-bgbnn opacity-85 z-10"></div>

    <div class="z-20 flex flex-col items-center justify-center w-full h-full">
        <h1 class="font-spartan text-white font-medium p-9 text-[2rem]">Casa Otoño, tu mejor elección para eventos</h1>
        <div>
            <h2 class="font-spartan text-white font-light  mx-10 mt-10 text-[1.3rem] sm:text-[1.6rem] sm:mt-5  sm:mx-20  md:mx-20" >Eleva tus eventos a otro nivel con la renta de nuestro restaurante. Ideal para capacitaciones, diplomados y eventos privados. Además, consulta nuestras cotizaciones personalizadas de platillos y coffee breaks para añadir un toque delicioso a tu evento.</h2>
            <button>Solicita Cotización</button>
        </div>
    </div>
</section>