
---
const opciones = [
    { title: "Nosotros", href: "#Objetivo" },
    { title: "Estancia", href: "#Estancia" },
    { title: "Habitaciones", href: "#Habitaciones" },
    { title: "Instalaciones", href: "#Instalaciones" },
    { title: "Actividades", href: "#Actividades" },
    { title: "Contacto", href: "#Contacto" },
];

const year = new Date().getFullYear();
---




<section id="Footer" class=" relative bg-bgestan translate-y-[130%] sm:translate-y-[50%] lg:translate-y-[20%] w-full h-auto flex justify-center">
    <footer class="flex flex-col w-full items-center md:grid md:grid-cols-3 md:grid-rows-4">
        <div class="md:col-span-1 md:row-span-3 flex justify-center">
            <img src="./images/navOtonoLogo.svg" alt="Logo casa otoño" class="min-w-44 max-w-[300px] max-h-40 mx-20 my-16 ">
        </div>
        <div class="md:col-span-1 md:row-span-3">
            <ul class="flex flex-col md:flex-row md:flex-wrap  items-center justify-evenly  w-full h-[80%] mt-15 z-50">
                {
                    opciones.map(opcion => (
                        <li class="text-white font-spartan font-light text-center text-[1.3rem] mb-6 md:w-1/2">
                            <a class="text-brick" href={opcion.href}>{opcion.title}</a>
                        </li>
                    ))
                }
            </ul>
        </div>
        <div class=" flex flex-col items-center md:col-span-1 md:row-span-3">
            <div class="flex justify-evenly w-full xl:w-[70%]">

                <a target="_blank"
href="https://www.facebook.com/profile.php?id=100053023187509"
class="group relative inline-flex justify-center items-center p-2 rounded-full shadow-md shadow-brick bg-bgbnn text-white font-semibold hover:translate-y-2 transition-all duration-350 hover:bg-bgbnn2"
>
<svg
class="w-6 h-6"
fill="currentColor"
viewBox="0 0 448 512"
xmlns="http://www.w3.org/2000/svg"
>
<path
  d="M400 32H48A48 48 0 0 0 0 80v352a48 48 0 0 0 48 48h137.25V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.27c-30.81 0-40.42 19.12-40.42 38.73V256h68.78l-11 71.69h-57.78V480H400a48 48 0 0 0 48-48V80a48 48 0 0 0-48-48z"
></path>
</svg>
<span
      class="absolute opacity-0 group-hover:opacity-100 group-hover:text-gray-700 group-hover:text-md group-hover:-translate-y-10 duration-500"
    >
      Facebook
    </span>
</a>


                
                <a target="_blank"
                href="https://maps.app.goo.gl/8Ur6vmqnfXkhAJk97"
                class="group relative inline-flex justify-center items-center p-2 rounded-full shadow-md shadow-brick bg-bgbnn text-white font-semibold hover:translate-y-2 transition-all duration-250 hover:bg-bgbnn2"
             >
             <svg xmlns="http://www.w3.org/2000/svg" 
             viewBox="0 0 24 24" 
             fill="currentColor" 
             class="w-6 h-6">
          <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5S10.62 6.5 12 6.5s2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"/>
        </svg>
               <span class="absolute opacity-0 group-hover:opacity-100 group-hover:text-gray-700 group-hover:text-md group-hover:-translate-y-10 duration-500">
                 Ubicación
               </span>
             </a>

             <a target="_blank"
href="https://wa.me/526675021361"
class="group relative inline-flex justify-center items-center p-2 rounded-full shadow-md shadow-brick bg-bgbnn text-white font-semibold hover:translate-y-2 transition-all duration-250 hover:bg-bgbnn2"
>
<svg
xml:space="preserve"
viewBox="0 0 24 24"
class="bi bi-whatsapp"
fill="currentColor"
height="24"
width="24"
xmlns="http://www.w3.org/2000/svg"
>
<path
fill="currentColor"
d="M17.472 14.382c-.297-.149-1.758-.867-2.03-.967-.273-.099-.471-.148-.67.15-.197.297-.767.966-.94 1.164-.173.199-.347.223-.644.075-.297-.15-1.255-.463-2.39-1.475-.883-.788-1.48-1.761-1.653-2.059-.173-.297-.018-.458.13-.606.134-.133.298-.347.446-.52.149-.174.198-.298.298-.497.099-.198.05-.371-.025-.52-.075-.149-.669-1.612-.916-2.207-.242-.579-.487-.5-.669-.51-.173-.008-.371-.01-.57-.01-.198 0-.52.074-.792.372-.272.297-1.04 1.016-1.04 2.479 0 1.462 1.065 2.875 1.213 3.074.149.198 2.096 3.2 5.077 4.487.709.306 1.262.489 1.694.625.712.227 1.36.195 1.871.118.571-.085 1.758-.719 2.006-1.413.248-.694.248-1.289.173-1.413-.074-.124-.272-.198-.57-.347m-5.421 7.403h-.004a9.87 9.87 0 01-5.031-1.378l-.361-.214-3.741.982.998-3.648-.235-.374a9.86 9.86 0 01-1.51-5.26c.001-5.45 4.436-9.884 9.888-9.884 2.64 0 5.122 1.03 6.988 2.898a9.825 9.825 0 012.893 6.994c-.003 5.45-4.437 9.884-9.885 9.884m8.413-18.297A11.815 11.815 0 0012.05 0C5.495 0 .16 5.335.157 11.892c0 2.096.547 4.142 1.588 5.945L.057 24l6.305-1.654a11.882 11.882 0 005.683 1.448h.005c6.554 0 11.89-5.335 11.893-11.893a11.821 11.821 0 00-3.48-8.413Z"
></path>
</svg>
<span
class="absolute opacity-0 group-hover:opacity-100 group-hover:text-gray-700 group-hover:text-md group-hover:-translate-y-10 duration-500"
>
WhatsApp
</span>
</a>
             
               
            </div>
            <button class="border border-bgbnn text-bgbnn rounded-xl text-[1.2rem] w-56 py-2 mt-12 hover:bg-bgbnn hover:bg-opacity-10 transition-all duration-300">
                Renta de Restaurante
            </button>
        </div>
        <div class="md:col-span-3 md:row-span-1 w-full text-center">
            <hr class="border-1 border-bgbnn opacity-80 my-7 mx-8">
            <h2 class="mb-10 font-spartan font-light text-gray-500">
                Aviso de privacidad - © {year} CASA OTOÑO
            </h2>
        </div>
    </footer>
    
</section>