---
import { Carousel} from "./carruseles/CarouselHabitaciones";


---

<section id="Habitaciones" class="relative translate-y-[30%] sm:translate-y-[10%] landing-section  h-screen w-full ">
    
     <!-- Imagen como fondo -->
     <img src="./images/seccionHabitaciones/habitaciones_patron.svg" alt="casa otoño" class="absolute top-0 left-0 w-full h-full object-cover z-0 bg-fixed">
     
    <div class="flex flex-col items-center mx-5 sm:mx-8">
        <h1  class="font-spartan text-brick font-medium  text-start my-5 pt-7 lg:pt-12 text-[2rem] sm:text-[2.5rem] sm:my-7 sm:pt-8 sm:pl-20 ">
            Habitaciones
        </h1>

        <h2 class="font-spartan text-black font-light text-center max-w-[1200px] my-5 sm:my-7 sm:mt-7 text-[1.3rem] sm:text-[1.6rem] " >
            Cada espacio refleja nuestro compromiso con la comodidad, seguridad y bienestar, por ellos contamos con 3 tipos de habitaciones.
        </h2>
        <div class="w-full flex justify-center items-center mb-10">
            <Carousel  client:load/> 
        </div>
    
    </div>
</section>