---
import Layout from "../layouts/Layout.astro";
---

    <section id="Home" class=" relative h-screen flex justify-center ">
        <!-- Imagen como fondo -->
        <img src="./images/casa_otono.webp" alt="casa otoño" class="absolute top-0 left-0 w-full h-full object-cover z-0">

        <!-- Filtro de color -->
        <div class="absolute top-0 left-0 w-full h-full bg-brick opacity-50 z-10"></div>

        <!-- Contenedor del texto -->
        <div class="flex flex-col justify-evenly items-center z-20 pt-40 text-white rounded-lg  max-w-[478px] sm:max-w-[1080px] mx-2 h-full text-center">
            <h1 class="font-spartan font-medium leading-9 max-w-[1028px] my-9  text-center text-[2rem] sm:text-[3rem] lg:text-[3.5rem] sm:leading-tight">
                ¡Bienvenidos a nuestra acogedora y dedicada residencia para adultos mayores!
            </h1>

            <h3 class="font-spartan  max-w-[920px] font-light leading-tight my-10 text-center text-[1.5rem] sm:text-[2.5rem] " >
                Ofrecemos un servicio integral y profesional, creando un modelo de atención que fomenta la convivencia en un ambiente familiar, ameno y seguro.
            </h3>
        </div>
    </section>
