---
import { Carousel} from "./carruseles/CarouselInstalaciones";


---

<section id="Instalaciones" class="relative translate-y-[60%] sm:translate-y-[10%] landing-section  h-screen w-full bg-bgestan ">
    
    
     
    <div class="flex flex-col items-center mx-5 sm:mx-8">
        <h1  class="font-spartan text-brick font-medium  text-start my-5 pt-7 lg:pt-12 text-[2rem] sm:text-[2.5rem] sm:my-7 sm:pt-8 sm:pl-20 ">
            Instalaciones
        </h1>

        <h2 class="font-spartan text-black font-light text-center max-w-[1200px] my-5 sm:my-7 sm:mt-7 text-[1.3rem] sm:text-[1.6rem] " >
            Sumérgete en Casa Otoño y descubre cada espacio que ofrecemos para el bienestar de nuestros residentes, fusionando comodidad y una excepcional calidad de vida.
        </h2>
        <div class="w-full flex justify-center items-center mb-10">
            <Carousel  client:load/> 
        </div>
        
    </div>
</section>