---
const objetivoLogos = [
    {name:"Respeto",
        src:"./images/seccionObjetivo/respeto_icon.svg"
    },
    {name:"Honestidad",
        src:"./images/seccionObjetivo/honestidad_icon.svg"
    },
    {name:"Amor",
        src:"./images/seccionObjetivo/amor_icon.svg"
    },
    {name:"Amabilidad",
        src:"./images/seccionObjetivo/amabilidad_icon.svg"
    },
    {name:"Responsabilidad",
        src:"./images/seccionObjetivo/responsabilidad_icon.svg"
    },
    {name:"Cuidado integral",
        src:"./images/seccionObjetivo/cuidado_integral_icon.svg"
    },
    {name:"Seguridad",
        src:"./images/seccionObjetivo/seguridad_icon.svg"
    },
    {name:"Tranquilidad y confort",
        src:"./images/seccionObjetivo/confort_icon.svg"
    },
] 
---

    <section id="Objetivo" class="landing-section bg-white min-h-[661px] h-screen flex justify-center w-full ">
        <!-- Imagen como fondo -->


        <!-- Contenedor del texto -->
         <div class=" grid grid-cols-1 lg:grid-cols-5 min-h-full">
            <div class=" flex flex-col  items-center sm:items-start text-center sm:text-start rounded-lg  lg:col-span-3 ">
            <h1  class="font-spartan text-brick font-medium  text-start my-5 pt-7 lg:pt-12 text-[2rem] sm:text-[2.5rem] sm:my-7 sm:pt-8 sm:pl-20 ">
                Nuestro objetivo
            </h1>

            <h2 class="font-spartan text-black font-light  mx-10 mt-10 text-[1.3rem] sm:text-[1.6rem] sm:mt-5  sm:mx-20  md:mx-20" >
                Es fomentar la autosuficiencia, la socialización y el desarrollo de las habilidades y capacidades de cada residente. Nuestro equipo especializado está comprometido con el bienestar individual de cada uno de nuestros apreciados residentes. Guiados por nuestra filosofía basada en valores fundamentales como:
            </h2>
           
               
                <ul class="flex flex-wrap items-center justify-around max-w-[940px] my-10 mx-10">
                    {
                       objetivoLogos.map((objetivo) => ( 
                       <li class="relative flex font-spartan text-black font-light text-center  text-[1.3rem] sm:text-[1.5rem]   items-center justify-start m-3 pl-12 w-[296px] lg:w-[330] h-[47px] md:pl-16" >

                        <img src={objetivo.src} alt={objetivo.name} class="absolute bottom-1 left-0 w-10 pt-3 mr-5"/><span class="ml-5">{objetivo.name}</span>
                        
                        </li>)) 
                    }
                   
                </ul>

               
           </div>
         <img class=" lg:col-span-2 md:h-[80%] md:w-full lg:rounded-bl-xl" src="./images/seccionObjetivo/objetivo_img.webp" alt="Viejito con pelota en las manos">
        </div>
        
    </section>
