.swiper-pagination {
  position: absolute; /* Posicionamiento absoluto */
  bottom: 40px; /* Mover la paginación más abajo (ajusta este valor según necesites) */
  left: 50%; /* Centrar horizontalmente */
  /* Ajustar centrado horizontal */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* Espaciado entre bullets */
}

/* Bullets de la paginación */
.swiper-pagination-bullet {
  background-color: #e2d8d4; /* Color de los bullets */
  width: 80px; /* Ancho de los bullets */
  height: 16px; /* Alto de los bullets */
  border-radius: 10px; /* Bordes redondeados */
  margin: 0; /* Elimina el margen para usar gap en el contenedor */
  opacity: 1; /* Asegura que los bullets sean visibles */
  transition: background-color 0.5s ease; /* Transición suave para el cambio de color */
}

/* Bullet activo */
.swiper-pagination-bullet-active {
  background-color: #63301b; /* Color del bullet activo */
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Aplica la animación a los slides */
.swiper-slide {
  animation: fade 0.5s ease-in-out;
  margin-right: 0px;
}

.swiper-slide-active {
  margin-right: 0px;
}

@media (min-width: 1024px) {
  .swiper-pagination {
    display: flex;
    flex-direction: column;
    transform: translateX(-37%) translateY(-40%);
    z-index: 30;
  }
  .swiper-pagination-bullet {
    width: 8px; /* Ancho de los bullets */
    height: 110px; /* Alto de los bullets */
  }
}
