
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>Casa otoño</title>
	</head>
	<body class="relative">
		
		<slot />
	</body>
</html>

<style>
	html,
	body {
        margin: 0;
        padding: 0;
	
	}
</style>
